th {
  text-align: left;
}

input {
    text-align: center;
}

#divColors {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.country {
  display: flex;
  flex-direction: row;
  align-items: center;
}